#mainHeading{
    color: darkblue
}

.subHeading{
    color: coral;
}

p {
    font-family: sans-serif;
    font-weight: 100
}

body{
    padding: 20px;
}

/* table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
} */
